{% extends "layout.html" %}

{% block main %}
<script>

    // This function makes the inputs for macros visible once the 'exact' option has been selected
    function exactselected()
    {
        document.querySelector('#carbs').type = document.querySelector('#protein').type = document.querySelector('#fats').type = "number";
        document.querySelector('#calories').type = "hidden";
        document.querySelector('#calories').value = "";
        document.querySelector('#preferred').innerHTML = '';
        document.querySelector('#exactminchoice').value = 'exact';
    }
    
    // This function makes the inputs for protein, fats, and calories visible once the 'min' option has been selected
    function minselected()
    {
        document.querySelector('#calories').type = document.querySelector('#protein').type = document.querySelector('#fats').type = "number";
        document.querySelector('#carbs').type = "hidden";
        document.querySelector('#carbs').value = "";
        document.querySelector('#exactminchoice').value = 'min';
        document.querySelector('#preferred').innerHTML = "Type in the ingredient you want to eat the most of in the <b><u>leftmost field</b></u>.";
    }
    
    // This function makes the inputs for ingredients visible once the 'db' option has been selected
    function dbselected()
    {
        let db = document.querySelectorAll('.db');
        for (let i = 0; i < 3; i++)
            {
                db[i].type = "text";
            }
        let custom = document.querySelectorAll('.custom');
        for (let i = 0; i < 12; i++)
            {
                custom[i].type = "hidden";
                custom[i].value = '';
            }
        document.querySelector('#dbcustomchoice').value = 'db';
    }
    
    // This function makes the inputs for custom ingredient macros visible once the 'custom' option has been selected
    function customselected()
    {
        let custom = document.querySelectorAll('.custom');
        for (let i = 0; i < 12; i++)
        {
            custom[i].type = 'number';
        }
        let db = document.querySelectorAll('.db')
        for (let i=0; i < 3; i++)
        {
            db[i].type = "hidden";
            db[i].value = "";
        }
        document.querySelector('#dbcustomchoice').value = 'custom';
    }

    function displaydb()
    {
        TODO;
    }
// Tem que incluir um dicionário como esse "large.js", que salvei na pasta Documentos. Ele define WORDS, e eu colocaria o nome da comida
//    <script src="large.js">< /script> 
//    function autocompletedb()
//    {
//        let input = document.querySelector('#dbinput');
//        input.addEventListener('keyup', function(event) {
//            let html = '';
//            if (input.value) {
//                for (word of WORDS) {                         // Teria que mudar o WORDS de qualquer forma pro banco de dados
//                    if (word.startsWith(input.value)) {
//                        html += `<li>${word}</li>`;
//                    }
//                }
//            }
//            document.querySelector('ul').innerHTML = html;
//        });
//        ;
//    }
    
</script>

<h3>Welcome to <b>Macros into Meal</b>!</h3>
<h5><u>Instructions:</u></h5>
<p class="">Choose which functionality you want:</p>
<ul class="">
    <li>Specifying exact macro targets for carbs, protein, and fats; OR</li>
    <li>Specifying minimum protein and fat targets, with an exact calorie target, and a preferred ingredient.</li>
</ul>
<p class="">Choose a database:</p>
<ul class="">
    <li>Default database (exported from <a href=''>[PLACEHOLDER]</a>); OR</li>
    <li>Custom foods provided by you.</li>
</ul>
<p class="">Choose 3 ingredients, preferrably one rich in protein, one rich in fats, and one rich in carbohydrates. That's it!</p>
<form class="" action="/" method="post">
    <!--These inputs tell the backend which choices were made-->
    <input type="hidden" id="exactminchoice" name="exactminchoice" value="">
    <input type="hidden" id="dbcustomchoice" name="dbcustomchoice" value="">
    
    <div>
        <input type="radio" id="exactradio" name="exact/min" value="exact" onclick="exactselected()">
        <label for="exact">Exact targets</label>
    
        <input type="radio" id="minradio" name="exact/min" value="min" onclick="minselected()">
        <label for="min">Minimum macros and calorie target</label>
    </div>
    <div>
        <input type="hidden" id="carbs" name="carbs" placeholder="Carbs">
        <input type="hidden" id="calories" name="calories" placeholder="Calories">
        <input type="hidden" id="protein" name="protein" placeholder="Protein">
        <input type="hidden" id="fats" name="fats" placeholder="Fats">
    </div>
    <div>
        <input type="radio" id="dbradio" name="db/custom" value="db" onclick="dbselected()">
        <label for="db">Default database</label>
    
        <input type="radio" id="customradio" name="db/custom" value="custom" onclick="customselected()">
        <label for="custom">Custom ingredients</label>
    </div>
    <div>
        <p id="preferred"></p>

        <input type="hidden" class="db" id="db1" name="db1" placeholder="Preferred ingredient">
        <input type="hidden" class="db" id="db2" name="db2" placeholder="Type in ingredient">
        <input type="hidden" class="db" id="db3" name="db3" placeholder="Type in ingredient">

        <input type="hidden" class="custom" id="weight1" name="weight1" placeholder="Portion size (grams)">
        <input type="hidden" class="custom" id="weight2" name="weight2" placeholder="Portion size (grams)">
        <input type="hidden" class="custom" id="weight3" name="weight3" placeholder="Portion size (grams)">
    </div>
    <div>
        <input type="hidden" class="custom" id="carbs1" name="carbs1" placeholder="Carbs per portion (g)">
        <input type="hidden" class="custom" id="carbs2" name="carbs2" placeholder="Carbs per portion (g)">
        <input type="hidden" class="custom" id="carbs3" name="carbs3" placeholder="Carbs per portion (g)">
    </div>
    <div>
        <input type="hidden" class="custom" id="protein1" name="protein1" placeholder="Protein per portion (g)">
        <input type="hidden" class="custom" id="protein2" name="protein2" placeholder="Protein per portion (g)">
        <input type="hidden" class="custom" id="protein3" name="protein3" placeholder="Protein per portion (g)">
    </div>
        <input type="hidden" class="custom" id="fats1" name="fats1" placeholder="Fats per portion (g)">
        <input type="hidden" class="custom" id="fats2" name="fats2" placeholder="Fats per portion (g)">
        <input type="hidden" class="custom" id="fats3" name="fats3" placeholder="Fats per portion (g)">
    </div>
<!-- Faltando implementar o banco de dados-->
    <div>
        <input type="submit" value="Turn macros into meal!">
    </div>
</form>

<h4>FAQ</h4>
<h6>Why 3 ingredients?</h6>
<p>Turning macros into meals is akin to solving linear systems. Since we have 3 targets, we need 3 variables to have an unique solution. If would not be possible to have a solution with only 2 ingredients, and there would be an infinite number of solutions with more than 3 ingredients.</p>
<h6>Why have an ingredient rich in each macronutrient?</h6>
<p>This is not required. However, it makes it more likely that it is possible to reach your macro targets. If your 3 ingredients are rice, potatoes and pasta, which are all carbohydrate rich foods, it likely won't be possible to reach protein or fat targets. Having an ingredient rich in each macronutrient makes it more likely that the macro targets are achievable with the selected ingredients.</p>
<h6>Why minimum protein and fat targets and a fixed calorie target?</h6>
<p>Protein and fats are essential nutrients, meaning they cannot be synthethized by the body, and must be ingested. A minimal intake of protein and fats is a necessity. Past that minimal threshold, counting only calories, regardless of the macronutrient, allows for greater flexibility. Choosing this option allows you to eat as much as possible of the food you want to eat the most of while still hitting your targets.</p>
<h6>I want to use more than 3 ingredients!</h6>
<p>There's a way around it. First come up with a recipe. Then, figure out the nutrition information from that recipe by adding up everything from all ingredients. Use that as a custom food. For example, if you want to eat homemade mac 'n' cheese, chicken breast, and apples. Decide which recipe you'll use for the mac 'n' cheese. Let's say it's 100g of pasta, 50g of american cheese, and 10g of butter. Add up the nutrition facts for all of those, [PLACEHOLDER]</p>
{% endblock %}