{% extends "layout.html" %}

{% block main %}
<p style="color:white;">Não foi possível bater os alvos com esses alimentos. Se você colocou um alvo muito pequeno, tente colocar um pouco maiores. Mesmo peito de frango e arroz integral têm um pouco de gordura, então um alvo de gordura de 1g pode ser baixo demais, por exemplo. Também pode ser que não tenha nenhum alimento rico em um dos macronutrientes. Por exemplo, se você quer um monte de proteína, mas coloca só arroz, feijão, e ovo, talvez não seja possível possível, porque nenhum deles é rico somente em proteína.</p>
<form action ="/" method="post">
    <input type="submit" id="return" name="return" value="Voltar">
</form>
{% endblock %}